In [1]:
import pyspark
import pandas as pd

In [2]:
pd.read_csv('Age.csv')

       Name  Age
0  Harrison   24
1    Edward   27
2   Charlie   25
3      Luka   25
4   Kirstin   51
5     Harry   55

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Practise').getOrCreate()
spark

In [4]:
df_pyspark = spark.read.csv('Age.csv')

In [10]:
df_pyspark = spark.read.option('header', 'true').csv('Age.csv')
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|Harrison| 24|
|  Edward| 27|
| Charlie| 25|
|    Luka| 25|
| Kirstin| 51|
|   Harry| 55|
+--------+---+

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.head(3)

[Row(Name='Harrison', Age='24'),
 Row(Name='Edward', Age='27'),
 Row(Name='Charlie', Age='25')]

In [14]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)